.block {
  height: 200px;
  width: 200px; /* Fixed width of 200px */
  margin: 50px;
  border: 0.5mm solid black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  word-wrap: break-word; /* Ensures long words break if needed */
  overflow-wrap: break-word; /* Modern browsers */
  white-space: normal; /* Allows text to wrap */
  padding: 1rem; /* Add some padding for better text readability */
}

.widgets-container {
  padding-bottom: 200px;
}

/* Add classes for different widths */
.block.wide {
  width: min(95vw, 800px);
}

.block.narrow {
  width: min(80vw, 400px);
}

@keyframes appear {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

.block {
  animation: appear linear; /* Use the linear animation */
  animation-timeline: view(); /* Use the viewport as the timeline */
  animation-range: entry 0% cover 40%; /* 40% of the viewport height */
} 